@using Kubak.ViewModels;
@using Kubak.Models;
@model InstructionsViewModel;


@{
    foreach (var cat in Model.Categories)
    {
        <ul>
            @{
                ShowNode(cat);
            }
        </ul>
    }
    foreach (var i in Model.Instructions)
    {
        <a style="margin: 3%" href="@i.Link">@i.Name</a>
    }
    void ShowNode(InstructionCategory category)
    {
        <li>
            <div class="caret">
                <span style="float: left">@category.Name</span>
                <button style="float: left">aaaaa</button>
            </div>

            <ul class="nested">
                @foreach (var i in category.ChildCategories)
                {
                    <li>
                        @{
                            ShowNode(i);
                        }
                    </li>
                }
                @foreach (var i in category.Instructions)
                {
                    <li>
                        <a href="@i.Link">@i.Name</a>
                    </li>
                }
            </ul>
        </li>
    }
}

<p>
    <a asp-action="CreateInstruction">Create New Instruction</a>
</p>

<p>
    <a asp-action="CreateCategory">Create New Category</a>
</p>


<script>
    document.getElementsByClassName
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
</script>

<style>
    /* Remove default bullets */
    ul, #myUL {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
        margin: 0;
        padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
    }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

    .wrapper {
        width: auto;
    }

    .box {
        float: left;
    }

</style>